/*.btn{
    white-space:noweap   boots 4.2 之前會自動換行導致錯誤發生
    */
a.card:hover {
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  #carouselExampleControls h1 {
    font-size: 2rem;
  }
  #carouselExampleControls .btn {
    margin-top: 0 !important;
  }
}
.news-list li::before{
    content: "．";
    color: white;
}
